  <div class="widget-wrap">
    <h3 class="widget-title">&nbsp;</h3>
    <div class="widget">
      <p><img src="<%- url_for() %>logo_bluedisc1_128x128.png" width="128" height="128" alt="logo" /></p>
      <p>Seaoak です。 <a href="https://seaoak.jp/">https://seaoak.jp</a></p>
      <p>IT 系エンジニア（ハードウェア開発者）</p>
      <p>Twitter: <a href="https://twitter.com/seaoak2003">@seaoak2003</a></p>
      <p>GitHub: <a href="https://github.com/seaoak">seaoak</a></p>
      <p><img src="<%- url_for() %>hogehoge.png" alt="" width="174" height="21" /></p>
      <p><a href="https://protonmail.com/"><img src="/hogehoge_p.png" alt="" width="228" height="20" style="border:1px solid #999999" /></a></p>
      <p>旧ブログは<a href="http://seaoak.cocolog-nifty.com/read/">＠nifty のココログ</a> （～2016/Nov)</p>
      <p>自己紹介は<a href="<%- url_for() %>about/">こちら</a></p>
      <p></p>
      <p>記事へのツッコミは <a href="https://twitter.com/seaoak2003">Twitter</a> かメールでお願いします！</p>
    </div>
  </div>
